{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-7">

        <div class="card shadow border-0">

            <div class="card-header bg-dark text-white">

                <h4>Customer Form</h4>

            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label fw-bold">
                            Customer Name
                        </label>

                        {{ form.customer_name }}

                    </div>

                    <div class="mb-3">

                        <label class="form-label fw-bold">
                            Project Name
                        </label>

                        {{ form.project_name }}

                    </div>

                    <div class="mb-3">

                        <label class="form-label fw-bold">
                            Total Amount
                        </label>

                        {{ form.total_amount }}

                    </div>

                    <div class="mb-3">

                        <label class="form-label fw-bold">
                            Paid Amount
                        </label>

                        {{ form.paid_amount }}

                    </div>

                    <div class="mb-3">

                        <label class="form-label fw-bold">
                            Deadline Of Pay
                        </label>

                        {{ form.deadline_of_pay }}

                    </div>

                    <button class="btn btn-success">
                        Save Customer
                    </button>

                    <a href="/customers/" class="btn btn-secondary">
                        Back
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}